*
{

	margin: 0;
	padding 0;
	box-sizing: border-box;
}
@media (min-width: 64em) {
	.text { flex-grow: 1; }
}
body {
	background: #111;
}

#welcome {

	overflow: hidden;
	white-space

}
#welcome::before {

	content: "$ ";

}
#welcome::after {

	content: "█";

}
h1 {

	font-weight: bold;
	color: #FFFFFF;
	font-family: monospace;


}
h2 {
	font-family: monospace;
	color: #FFFFFF;
	display: block;
    	font-size: 1.5em;
    	margin-block-start: 0.83em;
    	margin-block-end: 0.83em;
    	margin-inline-start: 0px;
    	margin-inline-end: 0px;
    	font-weight: bold;
}
.text {
	border: 6px double #FFFFFF;
	padding: 1em;
}
