*
{

	margin: 0;
	padding 0;
	box-sizing: border-box;
}
@media (min-width: 64em) {
	.text { flex-grow: 1; }
}
body {
	background: #111;
	color: #FFFFFF;
	font-family: 'iosevka';
}

#welcome {

	overflow: hidden;
	white-space

}
#welcome::before {

	content: "$ ";

}
#welcome::after {

	content: "█";

}
#navbar {

	overflow: hidden;
	color: #000;
	z-index: 99;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #FFFFFF;
	border-radius: 0.25em;
	border: 6px double #000;
}
#navbar a:hover {
	background-color: grey;
}
#navbar a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	text-transform: uppercase;
	font-family: monospace;
	font-size: 1.5em;
	font-weight: bold;
	padding: 14px;
	text-decoration: none;
}
h1 {

	font-weight: bold;
	color: #FFFFFF;
	font-family: monospace;


}
h2 {
	font-family: monospace;
	color: #FFFFFF;
	display: block;
    	font-size: 1.5em;
    	margin-block-start: 0.83em;
    	margin-block-end: 0.83em;
    	margin-inline-start: 0px;
    	margin-inline-end: 0px;
    	font-weight: bold;
}
hr {
    	display: block;
    	unicode-bidi: isolate;
    	margin-block-start: 0.5em;
    	margin-block-end: 0.5em;
    	margin-inline-start: auto;
    	margin-inline-end: auto;
    	overflow: hidden;
    	border-style: inset;
    	border-width: 1px;
}
p {
   	 display: block;
   	 margin-block-start: 1em;
   	 margin-block-end: 1em;
   	 margin-inline-start: 0px;
 	 margin-inline-end: 0px;
}
.line {
	color: grey;
	font-size: 0.8em
}
.line-i {
	color:grey;
	font-size: 0.8em;
	margin-left: 40px;
}
.logo {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.grid {
	border-collapse: collapse;
}
.row {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row-reverse;
}
.text {
	border: 6px double #FFFFFF;
	padding: 1em;
}
